/* Card */
.Carding {
  overflow: hidden;
  max-height: 200px;
}
.Carding:hover {
  transform: scale(1.05);
  max-height: 300px;
  transition: transform 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
}

/* Navbar */
.nav-hover {
  text-decoration: none;
  position: relative;
}

.nav-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust this to control the underline height */
  bottom: 0;
  left: 0;
  background-color: cornflowerblue; /* Adjust this to the desired underline color */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-hover:hover::before {
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.Card.Body .Button .button-assist {
  border-radius: 30px;
}

/* Profile */
.Card1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh; /*Untuk mengisi tinggi layar` */
}

/* Detail */
/* CSS untuk kursi */
.seat {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  margin: 5px;
  user-select: none;
  background-color: salmon;
}

/* CSS untuk kursi yang sudah dipesan */
.reserved {
  background-color: gray;
  cursor: not-allowed;
}

/* CSS untuk kursi yang dipilih */
.selected {
  background-color: lightblue;
  color: #fff;
}

/* CSS untuk konten kursi (X atau S) */
.seat-content {
  font-weight: bold;
}

/* Style tambahan sesuai kebutuhan */
.order-button {
  width: 50%; /* Ganti nilai lebar sesuai keinginan Anda */
}

.Order {
  border: 2px solid black;
  width: 50%;
}

/* Responsive */
@media (max-width: 768px) {
  .Card1 {
    width: 100%;
  }
  .mobile-center {
    justify-content: center; /* Mengatur kursi ke tengah secara horizontal */
    text-align: center; /* Mengatur teks ke tengah */
  }
}
